<%= link_to "Saber Image", photos_new_path %>
<p>
	<% @photos.each do |photo| %>
	<div class="photo">
		<%= image_tag photo.image.url(:thumb), class: 'upload-image' %>
		<h3><%= photo.title %></h3>
		<p>Tags:
		    <% photo.tags.each do |tag| %>
		    	<%= link_to tag.tag_names, tag %>
		    <% end %>
	  </p>

	<% end %>
</p>



